{% extends 'base.html.twig' %}



{% block body %}


    <div class="container customcontainer">
        <div class="row">


            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                <!-- H1 Article -->
                <div class="main-article-link">
                    <div class="main-article mb-5 pb-5">

                        <div class="container">
                            {{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}
                            <h2 class="form-signin-heading">¡Crea tu cuenta ahora!</h2>
                            <p>Un minuto y podrás usar todas las funcionalidades.</p>
                            {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder':'Usuario'} }) }}
                            {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Correo electrónico'} }) }}
                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Contraseña'} }) }}
                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repite la contraseña'} }) }}
                            <button class="btn btn-lg btn-primary btn-block signinbtn custombutton" type="submit">¡Registrame!</button>

                            {{ form_errors(form.username) }}
                            {{ form_errors(form.email) }}
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_errors(form.plainPassword.second) }}


                            {{ form_end(form) }}
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
{% endblock %}
