{% extends 'base.html.twig' %}



{% block body %}


    <div class="container">
        <div class="row">


            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                <!-- H1 Article -->
                <div class="main-article-link">
                    <div class="main-article mb-5 pb-5">

                        <div class="container">
                                {{ form_start(form, { 'attr': {'class': 'form-signin'} }) }}
                                <h2 class="form-signin-heading">Create your account right now!</h2>
                                <p>It's free, it takes only a miute, and unlocks all of our website features.</p>
                                {{ form_widget(form.username, { 'attr': {'class': 'form-control', 'placeholder':'Username'} }) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'form-control', 'placeholder':'Email address'} }) }}
                                {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'placeholder':'Password'} }) }}
                                {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'placeholder':'Repeat Password'} }) }}
                                <button class="btn btn-lg btn-primary btn-block signinbtn" type="submit">Sign Up!</button>
                                {{ form_end(form) }}
                        </div>

                    </div>
                </div>


            </div>


        </div>
    </div>
{% endblock %}
