{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">

            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                <!-- H1 Article -->
                <div class="main-article-link">
                    <div class="main-article mb-5 pb-5">

                        <div class="container">


                            <div class="container">


                                <form  class="form-signin" action="{{ path('new_question') }}" method="post">
                                    {{ form_row(form._token) }}
                                    <h2 class="form-signin-heading">Ask the community!</h2>
                                    <p>Remember to be as descriptive as possible. <b>And to be polite!</b></p>



                                    {{ form_errors(form._title) }}
                                    {{ form_widget(form._title, { 'attr': {'class': 'form-control', 'placeholder':'A short and clear title for your question'} }) }}

                                    {{ form_errors(form._text) }}
                                    {{ form_widget(form._text, { 'attr': {'class': 'form-control', 'placeholder':'A very descriptive question with all the details'} }) }}

                                    {{ form_errors(form._tags) }}
                                    {{ form_widget(form._tags) }}

                                    <button class="btn btn-lg btn-primary btn-block" type="submit">Ask Question!</button>
                                </form>

                            </div>


                        </div>

                    </div>
                </div>



            </div>


        </div>
    </div>
{% endblock %}
