{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                {% if questions|length > 0 %}
                    <br>
                    <h1 class="mispreguntastitulo">Mis Preguntas</h1>
                {% endif %}
            </div>
        </div>
        <div class="row">

            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-10 order-md-2 col-md-10 ">

                {% if questions|length <= 0 %}
                <div class="article-container my-1 ">
                    <div class="avatarpregunta myquestionsdata ">
                        <div class="row">
                            <div class="col-12 myquestionsnoquestions">
                                <br>
                                <h1 class="mispreguntastitulo">Mis Preguntas</h1>
                                <p>No has realizado ninguna pregunta todavia.</p>
                                <p>Puedes formular una pregunta desde <a class="" href="{{ path("new_question") }}">aquí.</a></p>
                            </div>
                        </div>

                    </div>

                </div>


                {% else %}

                    {% for question in questions %}



                            {% if question.resolved == true  %}
                            <div class="article-container my-1 resolved">
                                {% else %}
                                <div class="article-container my-1 ">
                                    {% endif %}
                        <a  class="articlequestion" href="{{ path("article_show", { questionid: question.id}) }}">
                                    <!--
                                <img class="article-img d-none d-xl-inline-block" src="{{ asset('build/images/UserDefaultAvatar.png') }}">
                                -->
                                    <div class="avatarpregunta">
                                        <img class="article-img d-none d-xl-inline-block " src="{{ asset(question.user.avatarPath) }}">

                                        <div class="article-title d-inline-block pl-3 align-middle questiondiv">
                                            <span class="questiontitle croptext">
                                                <span>{{ question.title }}</span>

                                            </span>
                                            <br>
                                            <span class="align-left article-details">
                                                <div class="croptext questiontext">
                                                    <span>{{ question.text }}</span>
                                                </div>


                                                <span class="questiontime">{{ question.creationDate|date("d/m/Y H:i:s", 'Europe/Madrid') }}</span>
                                                                <br>
                                                {% for tag in question.tags %}
                                                    <span class="questionTag">{{ tag.name }}</span>
                                                {% endfor %}
                                            </span>
                                        </div>
                                        <div>
                                            {% if question.resolved == true  %}
                                                <p><b>Resuelta</b></p>
                                            {% else %}
                                                <p><b>Sin resolver</b></p>
                                            {% endif %}
                                        </div>
                        </a>



                        <div class="">
                            <a class="btn btn-lg btn-primary custombutton buttonmyquestions linkeditquestion" href="{{ path('edit_question', { questionid: question.id}) }}">Editar</a>

                            <button class="btn btn-lg btn-primary custombutton buttonmyquestions" data-question-delete-{{ question.id }}="{{ (path('question_delete', { questionid: question.id})) }}" onclick="deleteQuestion({{ question.id  }})">Eliminar</button>
                        </div>

                                    </div>


                                </div>



                    {% endfor %}

                {% endif %}

            </div>
            <!--
            <div class="col-sm-2 order-md-2 col-md-2 ">
                <button>Eliminar</button>
            </div>
            -->


        </div>
    </div>


    <script>

        function deleteQuestion(questionid){
            var atributeOfElement = '[data-question-delete-' + questionid + ']';
            console.log("atributeOfElement: " + atributeOfElement);
            // data-question-score-decrease-
            // var questionScoreDecrease = document.querySelector(atributeOfElement);
            var questionScoreDecrease= document.querySelectorAll(atributeOfElement)[0];

            var atributeToGet = "data-question-delete-" + questionid;
            var questionPath = questionScoreDecrease.getAttribute(atributeToGet);



            try{


                that = $(this);
                $.ajax({
                    url: questionPath,
                    type: "POST",
                    dataType: "json",
                    data: {
                        "questionid": questionid
                    },
                    async: true,
                    success: function (data)
                    {
                        //var json = JSON.parse(data);


                        // console.log(myObj[0]["result_code"]);

                        // $('div#ajax-results').html(data.output);
                        console.log(data.status);
                        //window.alert(json.status);
                        location.reload();

                    },
                    error: function (request, status, error) {
                        console.log("ERROR: " + request.responseText);
                        // window.alert("ERROR: " + request.responseText);
                        // alert(request.responseText);
                    }
                });
                return false;

            }catch (err) {
                console.log("error = "+err.message);
                // window.alert("error = "+err.message);
            }
        }
    </script>

{% endblock %}
