{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <div class="row">
            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-12 order-md-2 col-md-10 ">
                <h1 class="mispreguntastitulo">Mis Preguntas</h1>
            </div>
        </div>
        <div class="row">

            <div class="col-md-1 order-md-1"></div>
            <div class="col-sm-10 order-md-2 col-md-10 ">

                            {% for question in questions %}
                                <a  class="articlequestion" href="{{ path("article_show", { questionid: question.id}) }}">


                                    {% if question.resolved == true  %}
                                    <div class="article-container my-1 resolved">
                                        {% else %}
                                        <div class="article-container my-1 ">
                                            {% endif %}

                                            <!--
                                <img class="article-img d-none d-xl-inline-block" src="{{ asset('build/images/UserDefaultAvatar.png') }}">
                                -->
                                            <div class="avatarpregunta myquestionsdata ">


                                                <div class="row">
                                                    <div class="col-2">
                                                        <img class="article-img d-none d-xl-inline-block " src="{{ asset('build/images/UserDefaultAvatar.png') }}">
                                                    </div>
                                                    <div class="article-title d-inline-block pl-3 align-middle questiondiv col-4">
                                                    <span class="questiontitle croptext">
                                                        <span>{{ question.title }}</span>
                                                    </span>
                                                        <br>
                                                        <span class="align-left article-details">
                                                        <div class="croptext questiontext">
                                                            <span>{{ question.text }}</span>
                                                        </div>
                                                        <span class="questiontime">{{ question.creationDate|date("d/m/Y H:i:s", 'Europe/Madrid') }}</span>
                                                        <br>
                                                            {% for tag in question.tags %}
                                                                <span class="questionTag">{{ tag.name }}</span>
                                                            {% endfor %}
                                                    </span>


                                                    </div>

                                                    <div class="myquestionsstatus col-2">
                                                        {% if question.resolved == true  %}
                                                            <p><b>Resuelta</b></p>
                                                        {% else %}
                                                            <p><b>Sin resolver</b></p>
                                                        {% endif %}
                                                    </div>

                                                    <div class="myquestionsstatus col-2">
                                                        <button class="btn btn-lg btn-primary custombutton buttonmyquestions" >Editar</button>

                                                        <button class="btn btn-lg btn-primary custombutton buttonmyquestions" >Eliminar</button>
                                                    </div>
                                                </div>



                                            </div>


                                        </div>
                                </a>
                            {% endfor %}



            </div>
            <!--
            <div class="col-sm-2 order-md-2 col-md-2 ">
                <button>Eliminar</button>
            </div>
            -->


        </div>
    </div>
{% endblock %}
